:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 300px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
}

.header p {
  margin: 30px;
  font-size: 30px;
  font-weight: bold;
}

.App {
  margin-top: 69px;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjust as needed */
  grid-gap: 10px;
  justify-content: center; /* To center-align the cards */
  max-width: 100%; /* Ensure the grid doesn't overflow horizontally */
}


.card-container {
  width: 280px;
  height: 280px;
  display: flex;
  object-position: 50% 50%;
}

.front img {
  /* Use 'object-fit' property to control how the image behaves inside its container */
  margin:auto;
  text-align:center;
  background-color: #1d1d1d;

  object-fit: cover;
}

.front {
  position: relative;
  transform: rotateY(90deg);
}

.card {
  position: relative;
}

/* front of card - the picture */
.card .front {
  transform: rotateY(90deg);
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
}

.backOfCardred {
  border: 7px solid #da3d15;
  outline-offset: -7px;
}

.backOfCardblue {
  outline: 7px solid #5a9bf3;
  outline-offset: -7px;
}

.backOfCardgreen > img {
  outline: 7px solid #2fcc71;
  outline-offset: -7px;
}

.greenBorder, canvas {
  outline: 7px solid #2fcc71;
  outline-offset: -7px;
}


.backOfCardRabbit {
  border: 7px solid transparent;
  outline-offset: -7px;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 7;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 59px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}